:root {
  --colour-white: #ffffff;
  --colour-black: #000000;
  --LESSTHAN21_COLOUR: #FF0000; /* Red */
  --expand-button-colour: rgb(255, 116, 38);
}

/* Make the placeholder italics */

::placeholder {
  color: var(--colour-black);
  font-size: 1em;
  font-style: italic;
  font-weight:700;
  padding: 2.1em 0 0 1em;
}

* {
  font-family: 'futura';
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--colour-white);
}

body {
  padding: 2em;
  background-color: var(--colour-black);
}

.display-flex {
    display: flex;
    justify-content: space-evenly;
}

button {
  border-radius: 3px;
  border: none;
  margin: 0 0.25em;
  transition: all 0.3s;
}

button:hover {
  box-shadow: 0 0 4px rgba(3, 3, 3, 0.8);
  opacity: 0.9;
}
